.container {
  width: 75%;
}

.nav {
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.btn {
  background-color: rgba(0,0,0,0);
  border: 2px solid #ffff99;
  border-radius: 5px;
  color: #ffff99;
  padding: 10px 32px;
  height: 70px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffff4d;
  color: #4d4d00;
}

.btn1 {
  background-color: black;
  border: 2px solid #4d4d00;
  border-radius: 5px;
  color: #ffff4d;
  padding: 10px 32px;
  height: 70px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn1:hover {
  background-color: #ffff4d;
  color: #4d4d4d;
}

.panel {
  padding: 0 3%;
  background-color: rgba(0,0,0,0.5);
  height: 80%;
  width: 80%;
  border-radius: 10px;
}

#map {
  width: 100%;
  height: 400px;
}
