.btn {
  background-color: rgba(0,0,0,0);
  border: 2px solid #ffcc66;
  border-radius: 5px;
  color: #ffcc66;
  padding: 10px 32px;
  height: 70px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffcc66;
  color: white;
}

.panel {
  padding: 0 3%;
  background-color: rgba(0,0,0,0.5);
  height: 80%;
  width: 80%;
  border-radius: 10px;
}
